@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

$main-color: #6f2dbd;
$main-color-bright: #a258cc;
$main-color-faded: #b298dc;
$secondary-color: #b9faf8;
$secondary-color-faded: #b8d0eb;
$secondary-color-dark: #00ccc5;

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 720px) {
  .navbar {
    height: 60px;
    background: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 999;

    .navbar-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0 1.2em;
      width: 100%;
      position: relative;
      z-index: 999;

      .navbar-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #ffffff;
        font-size: 0.7em;

        svg {
          height: 30px;
          width: 30px;
          margin-right: 0.6em;
        }
      }

      .navbar-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        background: #000000;
        list-style: none;
        width: 100%;
        height: 100vh;
        top: 0;
        right: 0;
        transform: translateX(100%);
        transition: all 0.3s ease-in-out;

        .navbar-menu-container {
          margin-top: 2.8em;
          margin-left: 2.2em;

          .navbar-menu-item {
            margin-bottom: 1.4em;

            .navbar-menu-link {
              color: #ffffff;
              font-size: 1.8em;
              font-weight: 700;
              text-decoration: none;

              &:hover {
                color: $main-color-bright;
              }
            }
          }

          .navbar-menu-bar {
            background: #ffffff;
            width: 25px;
            height: 2px;
            margin: 1.8em 0;
          }

          .navbar-menu-btn {
            margin-bottom: 0.8em;

            .navbar-menu-btn-link {
              font-size: 1.4em;
              font-weight: 500;
              color: #eeeeee;
              text-decoration: none;

              &:hover {
                color: $main-color-bright;
              }
            }
          }
        }

        .navbar-menu-logo {
          display: flex;
          flex-direction: row;
          align-items: center;
          color: #ffffff;
          font-weight: 500;
          font-size: 1.2em;
          margin-left: 2.2em;
          margin-bottom: 1.8em;

          svg {
            height: 30px;
            width: 30px;
            margin-right: 0.2em;
          }
        }
      }

      .navbar-menu.active {
        transform: translateX(0);
      }

      .navbar-menu-cta.is-active {
        right: 0;
        margin: 0 1.2em;
        position: fixed;
      }

      .navbar-menu-cta.is-active {
        .cta-bar:nth-child(2) {
          opacity: 0;
        }
        .cta-bar:nth-child(1) {
          transform: translateY(8px) rotate(-45deg);
        }
        .cta-bar:nth-child(3) {
          transform: translateY(-8px) rotate(45deg);
        }
      }

      .navbar-menu-cta {
        cursor: pointer;
        z-index: 999;

        .cta-bar {
          display: block;
          background: #ffffff;
          width: 25px;
          height: 3px;
          margin: 5px auto;
          border-radius: 15px;
          transition: all 0.2s ease-in-out;
        }
      }
    }
  }

  .hero {
    height: calc(100vh - 60px);
    background: $main-color;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;

    .hero-container {
      display: flex;
      flex-direction: column;
      text-align: center;
      width: 100%;
      margin: 0 2.6em;

      .hero-title {
        color: $secondary-color-dark;
        font-size: 1.4em;
        font-weight: 700;
      }

      .hero-subtitle {
        color: $secondary-color-dark;
        font-size: 1em;
        font-weight: 500;
        letter-spacing: -1px;
        padding: 2.2em 1.6em;
      }

      .hero-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-btn-link {
          display: flex;
          justify-content: center;
          align-items: center;
          color: $main-color;
          font-size: 1em;
          font-weight: 700;
          text-decoration: none;
          background: $secondary-color-dark;
          border-radius: 25px;
          height: 50px;
          width: 260px;

          &:focus {
            transform: scale(1.1, 1.1);
          }
        }
      }
    }

    .hero-waves-top {
      position: absolute;
      height: auto;
      width: 100%;
      left: 0;
      right: 0;
      top: 0;
    }

    .hero-waves-bottom {
      position: absolute;
      height: auto;
      width: 100%;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .footer {
    height: 100%;
    background: #000000;

    .footer-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2.6em 1em;
      padding-bottom: 2em;

      .footer-logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #ffffff;
        font-size: 0.7em;
        padding: 1em 0;

        svg {
          height: 30px;
          width: 30px;
          margin-right: 0.6em;
        }
      }

      .footer-links {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 2em 0;

        .footer-links-title {
          font-size: 0.8em;
          font-weight: 600;
          text-transform: uppercase;
          color: #a5a5a5;
          padding-bottom: 1em;
        }

        .footer-links-item {
          padding: 1em 0;
          text-decoration: none;

          a {
            color: #ffffff;
            font-size: 1em;
            font-weight: 400;
            text-decoration: none;

            &:hover {
              color: $main-color-bright;
            }
          }
        }
      }

      .footer-socials {
        display: flex;
        flex-direction: row;
        justify-content: left;

        .socials-item {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          height: 46px;
          width: 45px;
          background: #333333;
          margin-right: 1em;
          margin-top: 4em;
          margin-bottom: 1.6em;

          img {
            height: 25px;
            width: 25px;
          }
        }
      }

      .footer-bottom-links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;

        .bottom-links-flex-item {
          display: flex;
          flex-direction: column;

          .footer-bottom-links-item {
            padding: 0.4em 0;
            text-decoration: none;

            a,
            span {
              color: #6d6d6d;
              font-size: 0.6em;
              font-weight: 700;
              text-decoration: none;
            }

            a:hover {
              color: $main-color-bright;
            }
          }
        }
      }
    }
  }
}
